<div class='row'>
    <div class='col-md-12' id='price-results'>
        <table class="table table-bordered">
        <thead>
        <tr>
            <th class='col-md-1 text-warning'>Coin</th>
            <th class='col-md-2 text-info'>DD-MM-YYYY [H:M]</th>
            <Th class='col-md-1'>Price#1</Th>
            <Th class='col-md-1'>Price#2</Th>
            <Th class='col-md-1'>Price#3</Th>
            <Th class='col-md-1'>Price#4</Th>
            <Th class='col-md-1'>Price#5</Th>
            <th class='col-md-4 text-success'>Comments</th>
        </tr>
        </thead>
        <tbody id='price-complete-table-body' >
            
        </tbody>
    </table>

    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>

<script type='text/javascript'>
console.log('the js script inside of home.handlebars is being used')



axios({
    methos: 'GET',
    url: '/api/getCompletePriceTable'
}).then(function(response){
    //Insert the data into the tables, using the above as a template
    console.log(response)

    
    //should loop for each response.data object
    for(var i=0;i<response.data.length;i++){

        var priceRow = $('<tr>');
        var priceRowTHCoinTag = $('<th>');
        priceRowTHCoinTag.attr('class','col-md-1 text-warning');
        priceRowTHCoinTag.html(response.data[i].coinTag.toUpperCase())
        priceRow.append(priceRowTHCoinTag)

        var priceRowTHTimeDate = $('<th>');
        priceRowTHTimeDate.attr('class','col-md-2 text-info');
        priceRowTHTimeDate.html(response.data[i].time_display)
        priceRow.append(priceRowTHTimeDate)

        //nested-loop for each of the various prices
        for(var j=0;j<5;j++){
            var priceRowTHPriceEntry = $('<th>');
            priceRowTHPriceEntry.attr('class','col-md-1');
            console.log(response.data[i])
            priceRowTHPriceEntry.html('$'+response.data[i].usd_btc_priceAt_kraken)
            priceRow.append(priceRowTHPriceEntry)
        }

        
        
        var priceRowTHComments = $('<th>');
            priceRowTHComments.attr('class','col-md-4 text-alert');

        //if-else for whether or not there are comments for this row
        //Insert bootstrap button with input for comment
        if(response.data[i].comments===''){

            var priceCommentButton = $('<button>')
            priceCommentButton.attr('class','btn btn-warning');
            priceCommentButton.attr('id','commentary-button');
            priceCommentButton.attr('mongo-id',response.data[i]._id);
            priceCommentButton.html('Add Comment')

            var priceCommentInput = $('<input>')
            priceCommentInput.attr('type','text');
            priceCommentInput.attr('class','form-control');
            priceCommentInput.attr('placeholder','These prices are...');

            priceRow.append(priceCommentInput)
            priceRow.append(priceCommentButton);
        } else{
            var priceCommentInput = $('<span>')
            priceCommentInput.html(response.data[i].comments);
            //priceCommentInput.html(response.data[i].comments)
            
            priceRow.append(priceCommentInput)

        }

        $('#price-complete-table-body').append(priceRow)

    }
    console.log(response.data)
})


</script>